<?php
/**
 * @var $block Magento\Framework\View\Element\Template
 * @var $viewModel Reaktion\Tracking\ViewModel\ConversionsGoogleScript
 * @var $escaper Magento\Framework\Escaper
 */
$viewModel = $block->getData('view_model'); ?>
<?php if ($viewModel->isEnabled()): ?>
    <?php if (!empty($viewModel->getTargetIds())): ?>
        <script type="text/javascript">
            if (typeof gtag === 'undefined') {
                var gtagScript = document.createElement('script');
                gtagScript.type = 'text/javascript';
                gtagScript.src = 'https://www.googletagmanager.com/gtag/js';
                document.head.appendChild(gtagScript);

                window.dataLayer = window.dataLayer || [];
                function gtag() {
                  dataLayer.push(arguments);
                }

                gtag('js', new Date());
            }
        </script>
    <?php endif; ?>
    <?php foreach ($viewModel->getTargetIds() as $targetId): ?>
        <script type="text/javascript">
            gtag('config', '<?= $escaper->escapeJs($targetId) ?>');
        </script>
    <?php endforeach; ?>
    <?php foreach ($viewModel->getConversions() as $conversion): ?>
        <script type="text/javascript">
          gtag('event', 'conversion', {
              'send_to': '<?= $escaper->escapeJs($conversion['send_to']) ?>',
              'value': <?= $escaper->escapeJs($conversion['value']) ?>,
              'currency': '<?= $escaper->escapeJs($conversion['currency']) ?>',
              'transaction_id': '<?= $escaper->escapeJs(
                  $conversion['transaction_id']
              ) ?>'
          });
        </script>
    <?php endforeach; ?>
<?php endif; ?>
